<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>HackNConquer</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" rel="stylesheet">
</head>
<body>
<div class="container">
    <h1 class="text-center">Hack<span style="color:green">N</span>Conquer</h1>
    <h3 th:text="${title}"></h3>
    <p class="">Come solve our problems and be on top of the leaderboard</p>
    <hr>
</div>
</body>
</html>